# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.7z
*.tar.gz
*.rar
*.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#空文件夹占位符，不忽略
!.gitkeep

# eclipse ignored files
.classpath
.project
.settings
target

# IDEA
/shelf/
/workspace.xml
.idea
*.iml
/poi/main/resources/~$EEvision二次开发评审表.docx
/key.pri
/key.pub
/temp
/log
